version: '3.8'
# docker compose (makesure nothing is running on the same ports)
services:
  app:
    build: .
    ports:
      - "4000:4000"
    env_file:
      - .env
    environment:
      - MONGODB_URI=mongodb://mongo:27017/comp3133_101413874_Assignment1
    depends_on:
      mongo:
        condition: service_healthy
    restart: on-failure

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

volumes:
  mongo_data: